body {
	margin: 0px;
	padding: 0px;
	font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif !important;
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	color: #050E1A;
	background-color: #F6F6F6;
	text-rendering: optimizelegibility;
	letter-spacing: 1px;
	line-height: 25px;
	-webkit-backface-visibility: hidden;
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
}

body header {
	border-bottom: 1px solid #DDD;
	background-color: #FAFAFA;
	color: #666;
	height: 50px;
	text-shadow: none;
}

body header div {
	height: 50px;
	max-width: 800px;
	margin: 0 auto;
}

body header div h1 {
	display: inline-block;
	line-height: 50px;
	vertical-align: middle;
	padding: 0px;
	margin: 0px 0px 0px 20px;
	font-style: normal;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 18px;
}

body header div span#pinned {
	position: relative;
	float: right;
	margin: 14px 20px 0px 0px;
}

body header div span#pinned a {
	margin-left: 10px;
	font-size: 16px;
	text-decoration: none;
	color: #444;
}

main {
	padding-top: 10px;
	border-top: 1px solid #FFF;
	text-shadow: rgb(255, 255, 255) 0px 2px 1px;
}

article {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

article header {
	border-bottom: 1px solid #AAA;
	background-color: #F6F6F6;
	color: #444;
	height: 25px;
	text-shadow: none;
}

article h1 {
	margin: 0px;
	font-size: 25px;
	font-weight: 300;
}

article h2 {
	font-size: 20px;
	font-weight: 300;
}

article a {
	color: #488BA1;
	text-decoration: none;
	font-weight: 300;
}

footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 80px;
	width: 100%;
	background-color: #DDD;
	color: #444;
	border-top: 1px solid #AAA;
}

footer div {
	max-width: 800px;
	margin: 0 auto;
	height: 80;
}
